.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.home_row {
  max-width: 250px;
  max-height: 220px;;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}