.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.home_row {
  max-width: 250px;
  max-height: 220px;;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.price-row {
  width: 100px;
  height: 50px;
} 
.product {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  
}

.product_info {
  height:100px;
  margin-bottom: 15px;
}

.product_prcie {
  margin-top:5px;
}

.product_rating{
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b ;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}